*.pyc

build/*.user
build/*.ncb
build/*.suo
build/*.i
build/Debug
build/Release

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
libzippylog.so
libzippylog-test
zippylogbench
zippylogcat
zippylogclient
zippylogd
zippylog_string_loader
