[submodule "external/zeromq"]
	path = external/zeromq
	url = http://github.com/zeromq/zeromq2.git
[submodule "external/apr"]
	path = external/apr
	url = http://github.com/apache/apr.git
[submodule "external/wiki"]
	path = external/wiki
	url = git@github.com:indygreg/zippylog.wiki.git
[submodule "external/lua"]
	path = external/lua
	url = http://github.com/ittner/Lua-experimentation.git
[submodule "external/googletest"]
	path = external/googletest
	url = http://github.com/sfiera/googletest.git
[submodule "external/lua-protobuf"]
	path = external/lua-protobuf
	url = git@github.com:indygreg/lua-protobuf.git
